asgiref==3.7.2
autopep8==2.0.2
colorama==0.4.6
Django==4.2.4
django-etc==1.4.0
django-hitcount==1.3.5
django-resized==1.0.2
django-taggit==4.0.0
django-tinymce==3.6.1
importlib-metadata==6.8.0
platformdirs==3.10.0
pycodestyle==2.11.0
sqlparse==0.4.4
termcolor==2.3.0
termcolors==0.1.0
tomli==2.0.1
yapf==0.40.1
zipp==3.16.2
