{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>GHN</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- import different fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Fasthand&family=Roboto:wght@100;400&family=Signika:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="navigationbar" class-="flex">
      <ul>
        <li><a href="{% url 'mission' %}">Mission</a></li>
        <li class="title">
          <a href="{% url 'main' %}">Green Hands Network</a>
        </li>
        <li><a href="">Discussion</a></li>
      </ul>
    </div>
    {% block content %} {% endblock content %}
    <script src="{% static 'index.js'%}"></script>
  </body>
</html>
