{% extends 'base.html' %} {% block content %}
<div class="content">
  <div class="introduction">
    <div>
      <img src="../static/images/valley.jpeg" />
    </div>
    <div class="explanation">
      <h2>Volunteer for clean ups</h2>
      <p>
        Join others in your community to help clean up our environment bit by
        bit. This can range from tidying up parks and playgrounds to doing
        things like throwing away trash for those who are unable to do so.
      </p>
      <p>
        Among other things, according to
        <a
          href="https://www.rts.com/blog/recycling-facts-statistics/#:~:text=On%20average%2C%20Americans%20throw%20away,trash%20in%20a%20single%20day."
          >RTS</a
        >, "We only recycle about 67.2 million tons of a possible 267.8 million
        tons". Let's fix that.
      </p>
    </div>
  </div>
  <div class="introduction">
		<div>
    	<img src="../static/images/cat.jpeg" />
		</div>
    <div class="explanation">
      <h2>Report and help strays</h2>
      <p>
        Share information about strays and where they are located in order to aid allocation of professional(or local) help to areas most in need.
      </p>
      <p>
        According to
        <a
          href="https://www.aspca.org/helping-people-pets/shelter-intake-and-surrender/pet-statistics"
          >ASPCA</a
        >, "About 810,000 animals who enter shelters as strays are returned to
        their owners". Help animals find new owners and escape unsafe
        circumstances.
      </p>
    </div>
  </div>
	<div class="introduction">
		<div>
    	<img src="https://images.squarespace-cdn.com/content/v1/54b3f75ee4b0cdf625ece0b0/1432664843105-7B5HOMQMSAGENO9LU0C3/IMG_0902.JPG?format=1000w" />
		</div>
    <div class="explanation">
      <h2>Find local farmers markets</h2>
      <p>
        One of the largest dialemmas that comes with wanting to shop for organic foods all the while supporting local farmers is not knowing where and when you can find the markets. By providing a place where people can advertise and discuss farmers markest near them, we can help spread the word and support them.
      </p>
      <p>
        According to
        <a
          href="https://farmersmarketcoalition.org/education/the-benefits-of-farmers-markets/#:~:text=Growers%20selling%20locally%20create%2013,farmers%20markets%20than%20at%20supermarkets."
          >Farmers Market Coalition</a
        >, "Several  studies have found lower prices for conventional and organic produce at farmers markets than at supermarkets". We should do all we can to encourage this and keep it going.
      </p>
    </div>
  </div>
</div>

{% endblock content %}
